[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
black = "*"
pytest = "*"

[packages]
django = "*"
django-dotenv = "*"
python-telegram-bot = "*"
telethon = "*"
pytz = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
